@tailwind base;
@tailwind components;
@tailwind utilities;

.bg_image_farmer{
    background-image: url("https://res.cloudinary.com/dpi4fpxqm/image/upload/v1748466941/indian-farmer-using-mobile-phone-while-sitting-agricultural-field_661495-76229_o1ffqb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}